* {
    margin: 0;
}

.app {
    background-color: #fafafa;
    height: 100%;
}

.app__headerImage {
    width: 100px;
}

.app__header {
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.app__signup {
    display: flex;
    flex-direction: column;
    text-align: center;
}